@charset 'utf-8';
li {
  font-size: 14px;
}
.sec2 {
  color: #1e1e1e;
}
.sec2 h1 {
  text-align: center;
  font-size: var(--font24);
  color: #1e1e1e;
  padding-bottom: 2rem;
}
.caution {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  line-height: 1.6;
  padding: 2rem;
  width: 75%;
  margin: auto;
}
.groupCau {
  padding-bottom: 1rem;
}
.groupCau li {
  list-style: inside;
}
.groupCau li:first-of-type,
.personCau li:first-of-type {
  list-style: none;
  padding-bottom: 1.5rem;
  font-size: var(--font24);
}
.groupCau li:nth-of-type(2),
.personCau li:nth-of-type(2) {
  list-style: none;
  padding-bottom: 0.5rem;
}
.cautionCheck {
  padding: 3rem 0;
  text-align: center;
}
.cautionCheck p {
  color: var(--point_red);
  padding-bottom: 0.5rem;
}
.cauCheckBox {
  padding-bottom: 1.5rem;
}
input[type="submit" i] {
  border: none;
  font-size: var(--font20);
}
.resgo {
  background-color: var(--point_blue);
  color: var(--point_yellow);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}
.resgo:hover {
  background-color: var(--point_yellow);
  color: var(--point_blue);
}
#checkcplz {
  display: block;
  padding-top: 0.5rem;
  color: var(--point_red);
}
@media (max-width: 960px) {
  .sec2 {
    display: block;
    width: 100%;
    margin-top: 80px;
  }
}
